<div>
    <p>Todo listo para trabajar sockets</p>
    <br>
    <input type="text" id="messageInput" placeholder="Deje su mensaje...">
    <button id="sendMessagesButton" type="submit">Enviar mensaje</button>
    <div id="messagesContainer"></div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../public/js/socket.js"></script>